:root {
  --font-size: 15px;
  --word-spacing: 5px;
  --letter-spacing: 2px;
  --margin: 40px;
  --small-margin: 5px;
  --small-padding: 5px;
  --padding: 40px;
  /* scroll-behavior: smooth; */
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-wrap: balance;
}

body {
  font-family: "Work Sans", sans-serif;
  color: rgba(0, 0, 0, 0.762);
}

.main-header {
  background-color: #ffffff;
  width: 100%;
  height: 10vh;

  display: flex;
  justify-content: space-between;
  align-items: center;

  .logo {
    position: relative;
    height: 25px;
    width: 25px;
    border: 5px solid #10cab7;
    border-radius: 50%;

    margin-left: 10%;
  }

  .logo::after {
    position: absolute;
    content: "";
    background-color: black;
    width: 5px;
    height: 150%;
    left: -15px;
    top: -25%;
  }

  .header-list {
    margin-right: 10%;

    .header-list-icon {
      font-weight: bold;

      border: 2px solid black;
      border-left-color: transparent;
      border-right-color: transparent;

      width: 50px;
      height: 30px;

      position: relative;
    }

    .header-list-icon::before {
      position: absolute;
      content: "";
      background-color: black;
      border-top: 2px solid black;
      width: 50%;
      top: 50%;
      right: 0;
      transform: translate(0, -50%);

      transition-duration: 0.35s;
      transition-timing-function: ease-in-out;
    }

    .header-list-icon:hover::before {
      width: 100%;
    }
  }

  .header-list:hover ul {
    opacity: 1;
    visibility: visible;
  }

  ul {
    opacity: 0;
    visibility: hidden;
    background-color: #eee;
    position: absolute;

    list-style-type: none;
    width: 200px;
    right: 10%;
    top: 8%;

    border: 1px solid #eee;
    border-radius: 5px;

    font-size: var(--font-size);
  }

  ul li {
    padding: 10px;
    padding-left: 10px;
  }

  ul li a {
    text-decoration: none;
    color: rgba(0, 0, 0, 0.442);
  }

  ul li:hover {
    padding-left: 20px;
  }
}

.intro-section {
  background-image: url(Photos/landing.jpg);
  width: 100%;
  height: 90vh;
  background-size: cover;
  font-size: 50px;
  color: #10cab7;
  letter-spacing: 2px;

  display: flex;
  justify-content: center;
  align-items: center;

  .intro-section-text {
    text-align: center;
    letter-spacing: 4px;
  }

  .intro-section-text h2 {
    word-spacing: 5px;
  }

  .intro-section-text p {
    font-size: 30px;
    color: rgba(0, 0, 0, 0.451);
  }
}

.product-info {
  background-color: #f5f5f5;
  width: 100%;
  font-size: var(--font-size);

  display: flex;
  justify-content: center;
  align-items: center;

  .container {
    width: 50%;
    margin-left: 10%;
    margin-right: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

    div h3 {
      margin-bottom: 20px;
    }
  }

  .container > div {
    margin-right: 40px;
    width: 25%;
  }
}

.services {
  width: 100%;
  /* height: 600px; */
  background-color: white;
  font-size: var(--font-size);

  .generic-header-with-before {
    h2::before {
      content: "Don't be busy, be productive";
    }
  }

  .services-container {
    width: 50%;
    height: 70%;
    display: grid;

    margin: 0 auto;
    /* margin-top: 40px; */

    grid-template-columns: repeat(2, 1fr) 300px;
    grid-template-rows: repeat(2, 1fr);

    column-gap: 10px;

    margin-bottom: 20px;

    .graphixc-design-service,
    .web-design-service,
    .ui-ux-service,
    .web-development-service {
      position: relative;
    }

    :where(
        .graphixc-design-service,
        .web-design-service,
        .ui-ux-service,
        .web-development-service
      )::before {
      position: absolute;
      content: url(Photos/Screenshot\ 2025-03-03\ 141109.png);
      top: 5px;
      left: -60px;
    }

    .web-design-service::before {
      left: -50px;

      content: url(Photos/Screenshot\ 2025-03-03\ 141112.png);
    }

    .ui-ux-service::before {
      left: -40px;

      content: url(Photos/Screenshot\ 2025-03-03\ 141115.png);
    }

    .web-development-service::before {
      left: -40px;

      content: url(Photos/Screenshot\ 2025-03-03\ 141119.png);
    }

    :where(
        .graphixc-design-service,
        .web-design-service,
        .ui-ux-service,
        .web-development-service
      )
      > h3 {
      margin-bottom: 20px;
    }

    .ui-ux-service {
      grid-column: 1/2;
      grid-row: 2/3;
    }

    .web-development-service {
      grid-column: 2/3;
      grid-row: 2/3;
    }

    .image-container {
      grid-column: 3/4;
      grid-row: span 2;
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;
    }

    .image-container .image {
      background-image: url(Photos/services.jpg);
      width: 80%;
      height: 80%;
      background-size: cover;
      background-repeat: no-repeat;
      z-index: 1;
    }

    .image-container::after {
      position: absolute;
      content: "";
      top: 0;
      right: 0;
      width: 30%;
      height: 100%;
      background-color: #2c4754;
    }
  }

  .services-container > div {
    padding: 20px;
  }
}

.portfolio {
  background-color: #f5f5f5;
  width: 100%;
  /* height: 600px; */

  .generic-header-with-before {
    h2::before {
      content: "if you do it right, it will last forever.";
    }
  }

  .projects {
    padding: var(--padding);
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;

    margin-left: auto;
    margin-right: auto;

    .project {
      margin-right: var(--margin);

      background-color: white;

      h3 {
        padding-top: var(--padding);
        padding-left: var(--padding);
      }

      p {
        padding: var(--padding);
      }
    }
  }
}

.about {
  background-color: white;
  width: 100%;

  header {
    h2::before {
      content: "Less is more work";
    }
  }

  .content {
    display: grid;
    width: 80%;
    margin-bottom: var(--margin);
    margin-left: auto;
    margin-right: auto;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, auto);
    column-gap: var(--small-margin);
    justify-items: center;
    align-items: center;

    .description {
      grid-column: 2/3;
      grid-row: 1/3;
    }

    .description,
    img {
      padding: var(--padding);
    }

    .description > p:last-of-type {
      color: rgba(0, 0, 0, 0.412);
    }

    .line {
      margin-bottom: var(--small-margin);
    }
  }
}

.contact {
  background-color: #f5f5f5;
  width: 100%;
  text-align: center;
  padding-bottom: 50px;

  header {
    h2::before {
      content: "We are born to crea";
    }
  }

  h3 {
    margin-bottom: 10px;
    font-size: 30px;
  }

  .email {
    color: #10c9b7;
  }

  .socail-accounts {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .socail-icon:where(p, img) {
    margin-left: var(--small-margin);
  }

  .socail-icon {
    width: 25px;
    height: 25px;
  }

  p:last-of-type {
  }
}

.main-footer {
  background-color: #2c4754;
  width: 100%;
  height: 10vh;

  display: flex;
  color: white;
  align-items: center;
  justify-content: center;
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
  .product-info {
    height: auto;

    .container {
      flex-wrap: wrap;
      justify-content: center;
    }

    .container > div {
      width: auto;

      width: 100%;
      margin-top: 20px;
    }

    .container > div:last-of-type {
      margin-bottom: 20px;
    }
  }

  .services {
    .services-container {
      width: 100%;
      grid-template-columns: repeat(2, 1fr);
      .image-container {
        display: none;
      }
    }
  }

  .projects {
    width: 80%;

    flex-wrap: wrap;
    .project {
      margin-bottom: var(--margin);
    }

    .project:last-child {
      margin-bottom: 0;
    }
  }

  .about {
    .content {
      img {
        grid-row: span 1;
      }

      .description {
        grid-column: 1/2;
        grid-row: span 1;
        text-align: center;
      }
    }
  }
}

/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .product-info {
    height: auto;

    .container {
      width: auto;
      flex-wrap: wrap;
      justify-content: flex-start;
    }

    .container > div {
      width: calc(50% - 80px);
      margin-top: 20px;
    }
  }

  .services {
    /* Not need any thing */
  }

  .portfolio {
    .projects {
      width: 80%;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(2, 1fr);
      .project {
        margin-bottom: var(--margin);
        margin-bottom: var(--margin);
      }

      .project:last-child {
        margin-bottom: 0;
      }
    }
  }
}

/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .product-info {
    height: 400px;

    .container {
      width: auto;

      flex-wrap: nowrap;
      justify-content: center;
    }

    .container > div {
      width: 25%;
    }

    .container > div:last-of-type {
      margin-bottom: 0;
    }
  }

  .services {
    .services-container {
      width: 50%;
      grid-template-columns: repeat(2, 1fr) 300px;
      .image-container {
        display: flex;
      }
    }
  }

  .portfolio {
    .projects {
      padding: var(--padding);
      width: 50%;
      display: flex;
      align-items: center;
      justify-content: center;

      margin-left: auto;
      margin-right: auto;

      flex-wrap: nowrap;

      .project {
        margin-right: var(--margin);

        background-color: white;

        h3 {
          padding-top: var(--padding);
          padding-left: var(--padding);
        }

        p {
          padding: var(--padding);
        }
      }

      .project:last-child {
        margin-bottom: var(--margin);
      }
    }
  }

  .about {
    .content {
      img {
        grid-column: 1/2;
        grid-row: span 2;
      }

      .description {
        grid-column: 2/3;
        grid-row: span 2;
        text-align: start;
      }
    }
  }
}

/* // X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  .product-info {
    height: 400px;

    .container {
      width: auto;

      flex-wrap: nowrap;
      justify-content: center;
    }

    .container > div {
      width: 25%;
    }

    .container > div:last-of-type {
      margin-bottom: 0;
    }
  }
}

/* // XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) {
  .product-info {
    height: 400px;

    .container {
      width: auto;

      flex-wrap: nowrap;
    }

    .container > div {
      width: 25%;
    }

    .container > div:last-of-type {
      margin-bottom: 0;
    }
  }
}

.half-transition {
  transition-duration: 0.5s;
  transition-timing-function: ease-in-out;
}

.generic-header-with-before {
  h2 {
    text-align: center;
    margin-top: 3%;
    color: #ebeced;
    font-size: 100px;
    letter-spacing: -5px;
    position: relative;
    margin-bottom: var(--margin);
  }

  h2::before {
    position: absolute;
    content: "Test";
    font-size: var(--font-size);
    top: 85%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: rgba(0, 0, 0, 0.292);
    letter-spacing: 0;
  }
}
